<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Eat-da-burger!</title>
    <style type="text/css">
        .jumbotron {
            background-image: url(https://cdn.shopify.com/s/files/1/1832/6341/products/TAB_CHK120_RED_D01.jpg?v=1540925297);
            background-size: cover;
            font-family: monospace;
        }

        .display-4 {
            font-weight: bold;
        }

        .lead {
            font-weight: bold;

        }

        body {
            background-color: #ffcb0c;
        }

	
        
    </style>
</head>
<body>
{{{body}}}

</body>
</html>

