<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Eat-Da-Burger!</h1>
            <p class="lead">Create and Devour delicious burgers</p>
        </div>
    </div>


    {{#each burgers}}
    {{#unless devoured}}
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{{this.burger_name}}}</h5>
    <a href="#" class="btn btn-primary">Devour!</a>
  </div>
</div>
    {{/unless}}
    {{/each}}
</div>